<div class="flexbox-container">
    <div>
        <h1>Books</h1>
        <ul id="books">
  
        </ul>
    </div>
    <div>
        <h1>Details</h1>
        <div id="book">
            
        </div>
        <p id="reviews"></p>

        <p id=to_book><%= link_to "To books page"%></p>
    </div>
</div>



<p id=add_book><%= link_to "Add New book"%></p>
<%= button_to "Your user page", user_path(current_user), :method => :get %>

<div id="add_space"></div>


