<ul>
<% @books.each do |book| %>
  <li><%= book.auther %> - <%= link_to book.title, book_path(book) %></li>
<% end %>
</ul>
<br>
<%= link_to "Add New book", new_book_path %>
<br/>
<%= button_to "Your user page", user_path(current_user), :method => :get %>